.home {
  height: 80vh;
  background-color: #30353b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.5rem;
}
