.projects {
  padding: 4rem 2rem;
  text-align: center;
  background: #f9f9f9;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.project-card {
  background: #eee;
  padding: 2rem;
  flex: 1 1 200px;
  min-width: 250px;
  text-align: center;
  border-radius: 8px;
}
