.services {
  padding: 4rem 2rem;
  text-align: center;
  background: #fff;
}

.services h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.services ul {
  list-style: none;
  padding: 0;
}

.services li {
  font-size: 1.2rem;
  margin: 1rem 0;
}
